parametersSchema:
    mahoRootDir: schema(string(), nullable())
    magentoRootPath: schema(string(), nullable())
    enforceMagicMethodDocBlock: bool()
parameters:
    mahoRootDir: null
    magentoRootPath: null
    enforceMagicMethodDocBlock: false
    bootstrapFiles:
        - bootstrap.php
    earlyTerminatingMethodCalls:
        Mage:
            - throwException

services:
    mageCoreConfig:
        class: Maho\PHPStanPlugin\Config\MageCoreConfig

    mageHubClass:
        class: Maho\PHPStanPlugin\Type\MageTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
        arguments:
            mageCoreConfig: @mageCoreConfig
            className: Mage

    mageCoreBlockAbstract:
        class: Maho\PHPStanPlugin\Type\MageTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            mageCoreConfig: @mageCoreConfig
            className: Mage_Core_Block_Abstract

    mageCoreModelLayout:
        class: Maho\PHPStanPlugin\Type\MageTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            mageCoreConfig: @mageCoreConfig
            className: Mage_Core_Model_Layout

    mageInvalidTypeRule:
        class: Maho\PHPStanPlugin\Rules\MageInvalidTypeRule
        tags:
            - phpstan.rules.rule
        arguments:
            mageCoreConfig: @mageCoreConfig

    varienObjectReflection:
        class: Maho\PHPStanPlugin\Reflection\VarienObjectReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
        arguments:
            enforceDocBlock: %enforceMagicMethodDocBlock%
